.paginator {
    display: flex;
    justify-content: center;
    align-items: center;
}

.prev {
    background-image: url(../../../assets/images/back_icon-icons.com_74430.png);
    width: 32px;
    height: 32px;
    border: none;
    cursor: pointer;
    background-color: #4687ce;   
}

.next {
    background-image: url(../../../assets/images/next.png);
    width: 32px;
    height: 32px;
    border: none;
    cursor: pointer;
    background-color: #4687ce;  
}

.pageNumber {
    padding: 5px;
    border: none;
    font-weight: bold;
    color: #5a94d3;
    cursor: pointer;
}

.pageNumber.selectedPage {
    color: white;
    background-color: #5a94d3;
    border-radius: 5px;
}