.postsBlock {
    padding: 10px;
    margin: 20px;
}

.posts {
    margin-top: 10px;
}


.buttonContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 480px;
    margin-left: 20px;
    
}